# Configurações do Banco de Dados (MySQL)
DB_HOST=localhost
DB_USER=seu_usuario
DB_PASS=sua_senha
DB_NAME=db_pet_vida
DB_PORT=3306
DB_DIALECT=mysql

# Configurações do Servidor
PORT=3000
NODE_ENV=development